/*******************************************************************
GENERAL
*******************************************************************/

body {
    position: relative;
}

/********************************
Navigation menu
*********************************/
.navbar {
    background-color: darkseagreen;
}

.navlist a:link {
    color:white;
}

.navlist a:visited {
    color:white;
}

/********************************
Home
*********************************/
#home {
    background: url("./image/leslielim_02_v2.jpg");
    background-size:cover;
    height:100vh;
    width:100vw;
}

/********************************
About Me
*********************************/
#about {
    background: url("./image/leslie_main.jpg");
    background-size:cover;
    height:100vh;
    width:100vw;
}
.aboutDiv {
    height: 45%;
    position: relative;
    background-color: darkseagreen;
    top: 13%;
    border-radius:25%;
    opacity: .7;
    text-align:center;
    color:white;

}

/********************************
Skills
*********************************/
#skill {
    height:100vh;
    width:100vw;
    background-color: beige;
    background-image: url("./image/tree.png ");
    background-repeat: no-repeat;
    background-position:center;

}
.skills {
    width: 10vh;
    height: 10vh;
    line-height:10vh;
    background-color: tomato;
    color: white;
    border-radius: 100%;
    text-align: center;
    position: relative;
    display: inline-block;

}
.html{
    top:22vh;
    right:-44vw;
    -webkit-transition: all 0.9s ease-out;
    -moz-transition: all 0.9s ease-out;
    -ms-transition: all 0.9s ease-out;
    -o-transition: all 0.9s ease-out;
    transition: all 0.3s ease-out;
}
.html:hover{
    width:10%;
    height:10%;
    border-radius:25%;
    right:1vw;
}
.css{
    top:35vh;
    left:49vw;
}
.boot{
    top: 17vh;
    left: 44vw;

}
.js{
    top:56vh;
    left:25vw;
}
.jq{
    top:44vh;
    left:24vw;
}
.angular{
    top:56vh;
    left:26vw;
}
.git{
    top: 35vh;
    left: 8vw;
}
.gh{
    top: 46vh;
    left: 21vw;
}
/********************************
Projects
*********************************/
#project{
    height:100vh;
    width:100vw;
}
.project_row {
    margin:auto;
    top:20vh;
}
.row {
    margin-top: 1%;
}
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}
.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 90%) );
    transform: translateY( calc(-100% - 90%) );
    background-color: gray;
    opacity: .8;
    font-size:4vh;

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: transparent;
}

/********************************
Contact Me
*********************************/
#connect {
    height:100vh;
    width:100vw;
    background-color: beige;
}
.contactInfo {
    color: navy;
    position: relative;
    left: 5vw;
    top: 35vh;
    font-size: 3vh;
    text-align: center;
}
hr {
    width:12vw;
    border-top: 1px solid #13152F;
}
.logo {
    margin-right:2%;
}
#contactForm {
    top:35vh;
}
textarea {
    margin-bottom:2%;
}
.btn {
    left: 39vw;
    position: relative;
}